*~
*.log
key/*
buildtools/privkey.pem
release/src/router/httpd/pwenc.c
release/src/router/httpd/web_hook.c
release/src/router/httpd/sysdeps/*_private.c
release/src/router/acsd*/*.c
release/src/router/acsd*/*.h
release/src/router/asd/*.c
release/src/router/asd/*.h
release/src/router/ahs/*.c
release/src/router/ahs/*.h
release/src/router/eapd/*.c
release/src/router/eapd/*.h
release/src/router/emf*/*.c
release/src/router/emf*/*.h
release/src/router/libasc/*.c
release/src/router/nas*/*.c
release/src/router/nas*/*.h
release/src/router/i2cled/driver/*.c
release/src/router/rc/agg_brcm.c
release/src/router/rc/cfe.c
release/src/router/rc/private.c
release/src/router/rc/swrtex.c
release/src/router/rc/swrtex.h
release/src/router/rc/tcode_rc.c
release/src/router/rc/pwdec
release/src/router/rc/roamast.c
release/src/router/rc/sysdeps/*/ate-*.c
release/src/router/rc/sysdeps/*/roamast-*.c
release/src/router/shared/notify_ahs.c
release/src/router/shared/notify_rc.c
release/src/router/shared/shutils_private.c
release/src/router/shared/nvpriv.c
release/src/router/shared/spwenc.c
release/src/router/shared/sysdeps/*/private.c
release/src/router/shared/tcode.c
release/src/router/wlconf*/*.c
release/src/router/u2ec/*.c
release/src/router/u2ec/*.h
release/src-rt-6.x.4708/linux/linux-2.6.36/net/swrt_fastpath/*.c
release/src-rt-7.14.114.x/src/linux/linux-2.6.36/net/swrt_fastpath/*.c
release/src-rt-*/kernel/linux-*/net/swrt_fastpath/*.c


